<ion-view view-title="Add New Task">
  <ion-content>
      <br>
      
    <div class="list">
        <!--where user inputs task information-->
      <label class="item item-input item-stacked-label">
       <span class="input-label">I Need to...</span>
        <input type="text" ng-model="info.newTask" placeholder="Enter a task here"> 
      </label>
        
    </div>
      <!--saving task button and adding to the ToDoList-->
    <button class="button button-full button-royal" ng-click="addTask()">
      Add to My ToDo List
    </button>
      
  </ion-content>
</ion-view>
